<nav>
  <div class="nav-wrapper teal">
    <a href="#!" class="brand-logo">DTracker</a>
    <a href="#" data-target="mobile-demo" class="sidenav-trigger"
      ><i class="material-icons">menu</i></a
    >
    <ul class="right hide-on-med-and-down">
      <li>
        <% if (user) { %>
        <a href="/logout"
          ><i class="material-icons left">trending_flat</i>Log Out <%= user.name
          %></a
        >
        <% } else { %>
        <a href="/auth/google"
          ><i class="material-icons left">vpn_key</i>Login with Google</a
        >
        <% } %>
      </li>
    </ul>
  </div>
</nav>

<ul class="sidenav" id="mobile-demo">
  <li>
    <% if (user) { %>
    <a href="/logout"
      ><i class="material-icons left">trending_flat</i>Log Out <%= user.name
      %></a
    >
    <% } else { %>
    <a href="/auth/google"
      ><i class="material-icons left">vpn_key</i>Login with Google</a
    >
    <% } %>
  </li>
</ul>
