body {
  padding: 50px;
  font: 14px Futura, sans-serif;
}

button,
input {
  font: 14px Futura, sans-serif;
}

a {
  color: black;
}

.container {
  text-align: center;
  width: 300px;
  height: 200px;
  padding-top: 20px;
}

#icons {
  text-align: right;
}

.hide {
  display: hide;
}

.swal-text {
  background-color: #fefae3;
  padding: 17px;
  border: 1px solid #f0e1a1;
  display: block;
  margin: 22px;
  text-align: center;
  color: #61534e;
}

.swal-button--confirm {
  background-color: #26a69a;
  color: white;
}

.swal-button--confirm:hover {
  background-color: #00bfa5 !important;
}
