body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00b7ff;
}

.container {
  text-align: center;
  width: 300px;
  height: 200px;
  padding-top: 20px;
}

#icons {
  text-align: right;
}

.hide {
  display: hide;
}
